/*==============================================================================

	Author Name		:	Mahesh Langote
	Product Name    :	Housing
	File Name   	:   style.css

--------------------------------------------------------------------------------
	CSS Contents
--------------------------------------------------------------------------------



	



================================================================================*/
/*
* ----------------------------------------------------------------------------------------
* 01. Basic general syltes
* ----------------------------------------------------------------------------------------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input[type=text]:focus, textarea:focus {
  box-shadow: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: #fff;
  color: #333;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

p {
  line-height: 32px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

.nopadding {
  padding: 0 !important;
}

.nopadding-left {
  padding-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
}

/*
* ----------------------------------------------------------------------------------------
* 02. Detail page
* ----------------------------------------------------------------------------------------
*/
body {
  background-color: #eee;
}

.red {
  color: red;
}

.black {
  color: black;
}

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
  padding-top: 10px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li.search-dropdown {
  color: #777;
  border: 1px solid #ccc;
  height: 38px;
}

.navbar-default .navbar-nav > li.search-dropdown a {
  padding: 9px 30px;
  font-size: 14px;
}

.navbar-default .header-container {
  padding-right: 0px;
}

body.city-select-on .city-select-overlay {
  visibility: visible;
  opacity: .85;
}

body.city-select-on .search-dropdown {
  z-index: 2050;
  color: #fff;
}

.city-select-overlay {
  z-index: 2000;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
  height: 10000px;
  height: 100vh;
  background: #000;
  opacity: 0;
  transition: .2s all;
  visibility: hidden;
  transform: translateZ(0, 0, 0);
}

.city-search-panel {
  display: none;
}

.city-search-panel .closeBtn {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 40px;
  color: #999;
  text-decoration: none;
}

.city-select {
  height: 265px;
  padding: 6px 15px;
  z-index: 3000;
  color: #000;
  white-space: nowrap;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.city-select .header {
  font-size: 18px;
  line-height: 40px;
  margin: 30px auto;
  text-align: center;
  box-sizing: border-box;
}

.city-select .header .sub-title {
  color: #6a51d1;
}

.city-select .search-city-container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  height: 30px;
  width: 100%;
}

.city-select .placeholder {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
}

.city-select .search-input {
  font-size: 16px;
  z-index: 1;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  border: 1px solid #aaaa;
  padding: 20px;
  outline: 0;
}

.city-select .search-list {
  width: 100%;
  display: none;
  background-color: #fff;
  max-height: 190px;
  overflow: auto;
  z-index: 10;
  top: 30px;
  left: 0;
  position: relative;
  border: 1px solid #e6e6e6;
  text-align: left;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 10px #e6e6e6;
}

.city-select .search-list.open-list {
  display: block;
}

.city-select ul {
  margin: 0;
  padding: 0;
  list-style: none inside none;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  position: absolute;
  margin-left: -70px;
  padding: 0;
}

.navbar > .container .navbar-brand span.logotext,
.navbar > .container-fluid .navbar-brand span.logotext {
  display: block;
  padding-top: 22px;
  padding-left: 5px;
  font-size: 22px;
  text-transform: uppercase;
}

.navbar-form .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border: 1px solid #ccc;
  padding: 10px 30px;
  border-radius: 0;
  height: 38px;
  text-align: center;
}

.navbar-form {
  overflow: auto;
  padding-right: 0px;
  margin-top: 0px;
}

.navbar-form .form-group {
  display: inline;
}

.city-select-on .navbar-default .navbar-nav > li > a:focus, .city-select-on .navbar-default .navbar-nav > li > a:hover {
  color: #aaa;
}

.slogan {
  color: #fff;
  background-color: #444;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

.slogan h4 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}

ul.user-links {
  margin-left: 5px;
}

ul.user-links li {
  margin: 5px 0px 20px 0px;
}

ul.user-links li:last-of-type {
  margin-left: 10px;
}

ul.user-links li a {
  font-size: 12px;
  padding-right: 0;
}

ul.user-links li a i {
  font-size: 26px;
}

ul.user-links i.fa-whatsapp {
  color: #1EE31E;
}

ul.user-links i.fa-user {
  color: #333;
}

ul.user-links i.fa-heart {
  color: #FC595B;
}

ul.user-links i.fa-heart .count {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 6px;
  left: 22px;
}

ul.user-links i.fa-mobile {
  color: #999;
}

.banner-container {
  margin-top: 125px;
}

.banner-section .banner-info {
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 10px;
}

.info .small-img {
  vertical-align: middle;
  margin-top: 5px;
  border: 1px solid #EFE6E6;
}

.info h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}

.info span {
  font-size: 16px;
}

.info p.address {
  font-size: 13px;
  color: #2f2f2f;
  line-height: 24px;
  margin-top: 5px;
}

.info p.address i {
  font-size: 18px;
}

.price {
  text-align: right;
  font-size: 16px;
  margin-top: 10px;
}

.price .new-price {
  font-size: 16px;
  font-weight: bold;
}

.price .new-price i {
  font-size: 14px;
}

.price .note {
  display: block;
  margin-top: 10px;
}

.price .note p {
  font-size: 14px;
  margin: 0;
}

.price .note span {
  position: absolute;
  font-size: 10px;
  color: #898989;
  margin-top: -10px;
  margin-left: -60px;
}

.line-through.old-price {
  color: #898989;
  text-decoration: line-through;
  margin-left: 20px;
}

.offer {
  margin: 7px 0px 9px 0px;
  font-size: 16px;
  font-weight: 700;
}

.offer img {
  height: 36px;
  width: 36px;
  margin-right: 10px;
}

.image-gallery {
  background-color: #fff;
  padding: 5px 0;
}

.image-gallery a.gallery-popup:hover {
  cursor: zoom-in;
}

.image-gallery .left-img, .image-gallery .right-img {
  margin: 0px;
  padding: 0px;
  border: 1px solid #F0F0F0;
}

.image-gallery .left-img {
  height: 350px;
  overflow: hidden;
}

.image-gallery .left-img img {
  width: auto;
}

.image-gallery .right-img {
  height: 175px;
  overflow: hidden;
}

.image-gallery > :nth-child(3n) .item-overlay {
  position: absolute;
  text-align: center;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: .3s;
}

.image-gallery > :nth-child(3n) .item-overlay i {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 50%;
  left: 50%;
  margin: -36px 0 0 -36px;
}

.image-gallery > :nth-child(3n) .item-overlay .img-count {
  display: block;
}

.image-gallery:hover {
  cursor: zoom-in;
}

.image-gallery figure {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.image-gallery figcaption {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.3s ease;
  line-height: 1.33em;
}

.image-gallery figure:hover figcaption {
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s linear;
}

.project-info {
  background-color: #fff;
  padding: 10px;
}

.project-info .configuration {
  font-size: 14px;
  padding-left: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.project-info .configuration .config-title {
  font-size: 16px;
  text-transform: uppercase;
}

.project-info .configuration i {
  font-size: 24px;
  color: orange;
}

.project-info .info-col {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.project-info .info-col:last-of-type {
  border-right: none;
}

.project-info .avg-price, .project-info .size-detail, .project-info .possession-detail {
  border-right: 1px solid #DFD6D6;
}

.project-info .possession-detail {
  border-right: 0px solid #EFE6E6;
}

.project-info .subtitle {
  display: block;
  font-size: 12px;
  color: #898989;
}

.membership {
  background-color: #fff;
  margin-top: 5px;
  padding: 5px;
}

.membership .membership__img {
  padding-bottom: 5px;
}

.membership .membership__status {
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.add-section {
  width: 100%;
  height: auto;
  margin: 15px;
}

/*----------  ALL details  ----------*/
.detail-page .detail-nav {
  background-color: #fff;
  margin-top: 10px;
  padding: 15px;
  z-index: 1029;
}

.detail-page .detail-nav ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.detail-page .detail-nav ul li {
  padding: 5px;
}

.detail-page .detail-nav ul li a {
  text-decoration: none;
  color: #999;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.detail-page .detail-nav ul li a:hover {
  color: #333;
}

.detail-page .detail-nav ul li a i {
  font-size: 18px;
  color: #fe5455;
  text-transform: normal;
  margin-right: 5px;
}

.detail-page .detail-nav ul li.Shortlist-add {
  border: 1px solid #fe8787;
  color: #fe8787;
  transition: all .3s ease;
}

.detail-page .detail-nav ul li.Shortlist-add i {
  transition: all .3s ease;
}

.detail-page .detail-nav ul li.Shortlist-add a {
  font-size: 14px;
  text-transform: capitalize;
  color: inherit;
  transition: all .3s ease;
}

.detail-page .detail-nav ul li.Shortlist-add:hover {
  color: #fff;
  background-color: #fe5455;
}

.detail-page .detail-nav ul li.Shortlist-add:hover i {
  color: #fff;
}

.detail-nav.is_stuck {
  box-shadow: 0 0 2px 0px #ccc;
}

#overview {
  margin-top: 2px;
}

#project-video {
  margin-top: 2px;
}

.section-layout {
  padding: 15px;
  margin-top: 20px;
  background-color: #fff;
}

.element-title {
  border-bottom: 1px solid #ccc;
}

.element-title h3 {
  font-size: 18px;
}

#overview .elements {
  margin-top: 10px;
}

#overview .elements ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

#overview .elements ul .title {
  color: #6d6d6d;
  font-size: 16px;
}

#overview .elements ul span {
  color: #000;
  font-weight: bold;
}

#overview .elements p {
  font-size: 14px;
  margin-top: 30px;
}

#amenities .elements {
  margin-top: 10px;
}

#amenities .elements ul.basics {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

#amenities .elements ul.basics li {
  -ms-flex: 0 1 33%;
      flex: 0 1 33%;
  color: #333;
  font-size: 12px;
  padding: 5px;
}

#amenities .elements ul.basics li i {
  font-size: 28px;
  margin-right: 10px;
}

#amenities .elements ul.list-group {
  list-style: none;
}

#amenities .elements ul.list-group > li {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  margin: 30px 0;
}

#amenities .elements ul.list-group > li ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px 15px;
  list-style-type: disc;
}

#amenities .elements ul.list-group > li ul li {
  font-size: 12px;
  font-weight: normal;
  -ms-flex: 0 1 33%;
      flex: 0 1 33%;
  text-transform: capitalize;
}

#floorplans .elements {
  padding: 10px;
}

#floorplans .elements .building-type .btn-group label:first-child {
  margin-left: 0px;
}

#floorplans .elements .building-type .btn.btn-default {
  margin: 10px;
}

#floorplans .elements .building-type .btn-default.active, #floorplans .elements .building-type .btn-default:active {
  color: #fff;
  background-color: #2e4b69;
}

#floorplans .elements .nav-tabs {
  border-bottom: 1px solid #eee;
}

#floorplans .elements .bhk-type .nav {
  margin-bottom: 15px;
  margin-top: 5px;
}

#floorplans .elements .bhk-type .nav li {
  color: #333;
  font-size: 14px;
}

#floorplans .elements .bhk-type .nav li a {
  display: block;
  padding: 12px 30px;
  background-color: #F0F0F0;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  color: #333;
  font-size: 12px;
  font-weight: normal;
}

#floorplans .elements .bhk-type .nav li a:hover {
  color: #333;
}

#floorplans .elements .bhk-type .nav li.active a {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

#floorplans .elements .bhk-type .nav-tabs > li > a {
  margin-right: 0px;
  border-radius: 0px 0px 0 0;
}

#floorplans .elements .sqft-type .nav.nav-pills {
  margin-bottom: 15px;
}

#floorplans .elements .sqft-type .nav.nav-pills li a {
  display: block;
  padding: 5px 15px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  border: 1px solid #B1B1B1;
  margin-right: 10px;
  border-radius: 0px;
}

#floorplans .elements .sqft-type .nav.nav-pills li.active a {
  background-color: #2e4b69;
  border: 1px solid #2e4b69;
  color: #fff;
}

#floorplans .elements .floor-result {
  margin-top: 10px;
  border: 1px solid #ccc;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

#floorplans .elements .floor-result .main-result {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

#floorplans .elements .floor-result .main-result .row {
  padding: 5px;
}

#floorplans .elements .floor-result .side-result {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: #eeeeee;
}

#floorplans .elements .floor-result .floor-nav {
  margin-bottom: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#floorplans .elements .floor-result .floor-nav .btn-default.active, #floorplans .elements .floor-result .floor-nav .btn-default:active {
  color: #fff;
  background-color: #f3535b;
  outline: none !important;
}

#floorplans .elements .floor-result .floor-nav-child {
  -ms-flex: 1 1 25%;
      flex: 1 1 25%;
}

#floorplans .elements .floor-result .features {
  -ms-flex: 1 1 50%;
      flex: 1 1 50%;
  -ms-flex-positive: 3;
      flex-grow: 3;
  font-size: 12px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#floorplans .elements .floor-result .features li {
  -ms-flex: 0 1 33%;
      flex: 0 1 33%;
}

#floorplans .elements .floor-result .result-img {
  margin: 30px;
}

#floorplans .elements .floor-result .detail {
  padding: 20px;
  text-align: center;
  font-size: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

#floorplans .elements .floor-result .detail > div {
  font-size: 14px;
}

#floorplans .elements .floor-result .detail .title h4 {
  font-size: 16px;
  font-weight: bold;
}

#floorplans .elements .floor-result .detail .total-price .price {
  font-size: 16px;
  font-weight: bold;
}

#floorplans .elements .floor-result .detail .total-price .line-through {
  font-size: 14px;
}

#floorplans .elements .floor-result .detail .total-price .note {
  font-size: 14px;
}

#floorplans .elements .floor-result .detail .total-price span {
  display: block;
  text-align: center;
}

#floorplans .elements .floor-result .detail .emistart span {
  font-size: 12px;
  font-weight: bold;
  color: #6a51d1;
}

#floorplans .elements .floor-result .detail .persqft span {
  display: block;
  text-align: center;
}

#floorplans .elements .floor-result .detail .persqft .price {
  font-size: 14px;
  font-weight: bold;
}

#floorplans .elements .floor-result .detail .persqft .line-through {
  font-size: 12px;
}

#location .elements .advantages {
  padding-bottom: 30px;
}

#location .elements .advantages h5 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

#location .elements .advantages .title {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

#location .elements .advantages .paragraph {
  font-size: 14px;
}

#location .elements .advantages p {
  line-height: 1.5em;
  margin-left: 30px;
  margin-bottom: 5px;
}

#location .elements .map-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

#location .elements .map-row .map {
  -ms-flex: 0 1 75%;
      flex: 0 1 75%;
  padding: 10px;
  box-shadow: 0 0 2px 2px #ccc;
}

#location .elements .map-row .address {
  -ms-flex: 0 1 25%;
      flex: 0 1 25%;
  padding: 20px;
  text-align: center;
}

#location .elements .map-row .address .title {
  font-size: 16px;
  font-weight: bold;
}

#location .elements .map-row .address .theAddress {
  font-size: 14px;
}

#location #map {
  width: 100%;
  height: 100%;
  height: 500px;
}

#project-video .elements {
  margin-top: 20px;
}

#project-video .elements iframe {
  box-shadow: 0 0 2px 2px #ccc;
  max-width: 680px;
}

#bankoffers .elements {
  margin: 20px;
  margin-bottom: 5px;
}

#bankoffers .elements .slider__item {
  padding: 10px;
  border: 1px solid #999;
  margin: 10px;
  text-align: center;
  position: relative;
}

#bankoffers .elements span {
  display: block;
}

#bankoffers .elements span.approved {
  font-size: 12px;
  padding: 0px 15px;
  background-color: #66de95;
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

#bankoffers .elements span.bank__interest {
  font-size: 14px;
  color: #999;
}

#bankoffers .elements img {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

#emi .elements {
  margin: 20px;
}

#emi .calculater {
  font-size: 14px;
}

#emi .calculater h4 {
  font-size: 14px;
  color: #777;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}

#emi .calculater .cal-row1, #emi .calculater .cal-row2 {
  padding: 10px;
  background-color: #f1f2f6;
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #666;
}

#emi .calculater .cal-row1 label, #emi .calculater .cal-row2 label {
  margin-right: 5px;
}

#emi .calculater .cal-row1 i, #emi .calculater .cal-row2 i {
  margin: 5px;
}

#emi .calculater .cal-row1 input, #emi .calculater .cal-row2 input {
  text-align: center;
  margin: 5px;
  max-width: 100px;
}

#emi .calculater .cal-result {
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#emi .calculater .cal-result > div {
  background-color: #6b6b6b;
  padding: 20px;
  -ms-flex-preferred-size: 24.75%;
      flex-basis: 24.75%;
}

#emi .calculater .cal-result span {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 500;
}

#builder .elements {
  margin: 20px;
  color: #333;
}

#builder .elements img {
  box-shadow: 0 0 2px #aaa;
  margin-bottom: 20px;
}

#builder .elements .builder__info p {
  font-size: 14px;
  width: 100%;
  margin-top: 30px;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 0;
}

#builder .elements .builder__info .read__more {
  display: inline-block;
  width: auto;
  font-size: 14px;
  float: right;
}

#builder .elements .builder__info .read__more a {
  text-transform: capitalize;
  text-decoration: none;
  color: #ee6a5d;
}

#builder .elements h3.builder-title {
  font-size: 18px;
  font-weight: 700;
  color: #444;
  margin-top: 0;
}

#builder .elements .project_status {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

#builder .elements .project_status > div {
  margin-left: 10px;
  margin-right: 20px;
}

#builder .elements .project_status span {
  color: #999;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  text-align: left;
}

#builder .elements .project_status span.value {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.contact-card {
  width: 100%;
  height: auto;
  margin: 10px;
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
}

.contact-card .section-title .main-title {
  color: #fe5455;
  font-size: 21px;
  margin-top: 0px;
}

.contact-card .section-title .sub-title {
  color: #7b56bd;
}

.contact-card .section-title p {
  font-size: 13px;
  line-height: 24px;
  margin: 0px;
}

.contact-card hr {
  margin-top: 0px;
  margin-bottom: 10px;
  border-top: 1px solid #e5e3e3;
}

.contact-card .contact-form button {
  width: 100%;
}

.contact-card .contact-form .form-group {
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  position: relative;
  margin-bottom: -1px;
  border: 1px solid #e6e6e6;
  transition: .3s border;
  transition: .3s height;
}

.contact-card .contact-form .control-label {
  font-size: 13px;
  font-weight: 500;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  left: 20px;
  transform: translate3d(0, 20px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
}

.contact-card .contact-form .form-group.focused .control-label {
  opacity: 1;
  transform: scale(0.75);
  color: #999 !important;
}

.contact-card .contact-form .form-control {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 0 0;
  border: none;
  box-sizing: border-box;
  outline: 0 !important;
  -webkit-appearance: none;
  padding: 22px 20px;
  box-shadow: none;
}

.contact-card .contact-form .phone {
  padding-left: 60px;
}

.contact-card .contact-form .phone-label {
  opacity: 1;
  transform: scale(0.75);
  color: #999 !important;
}

.contact-card .contact-form .form-control::-webkit-input-placeholder {
  color: transparent;
  transition: 240ms;
}

.contact-card .contact-form .form-control:focus::-webkit-input-placeholder {
  transition: none;
}

.contact-card .contact-form .form-group.focused .form-control::-webkit-input-placeholder {
  color: #bbb;
}

.contact-card .contact-form .country-code {
  color: #000;
  border: 1px dotted #000;
  border-width: 0;
  position: relative;
  top: 16px;
  max-width: 50px;
  height: 30px;
  padding: 0 5px;
  border-radius: 0;
  background: 0 0;
  margin-left: 16px;
  background: 0 0;
}

.contact-card .contact-form .checkbox {
  padding-left: 0px;
}

.contact-card .contact-form .checkbox label {
  font-size: 13px;
  color: #777;
  font-weight: 500;
}

.contact-card .contact-form .mybtn {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #4ab357;
  border-radius: 3px;
}

.builder-form-btn {
  background-color: #fff;
  padding: 10px 5px;
  text-align: center;
  margin: 10px;
  margin-top: 50px;
  width: 100%;
}

.builder-form-btn .form-header h5 {
  font-size: 12px;
  color: #888;
}

.builder-form-btn .form-header .builder-btn {
  border-radius: 1px;
  border: 1px solid #de4947;
  color: #f69452;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 5px;
  transition: all .3s ease;
}

.builder-form-btn .form-header .builder-btn:hover {
  border: 1px solid #de4947;
  color: #fff;
  background-color: #de4947;
}

footer {
  margin-top: 30px;
  min-height: 250px;
}

footer .footer-info {
  padding: 10px 20px;
}

footer .footer-info h2 {
  font-weight: 700;
  text-align: center;
  color: #6d6d6d;
}

footer .footer-info h2 .red {
  color: #c43a20;
}

footer .footer-info h2 .black {
  color: #060606;
}

footer .footer-info p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #4e4e4e;
  line-height: 1.5;
}

footer .footer-info p.quotes {
  color: #6168a8;
}

footer .footer__nav {
  margin-left: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  min-height: 250px;
}

footer .footer__nav ul {
  list-style: none;
}

footer .footer__nav ul a {
  color: #666;
  font-size: 12px;
  font-weight: 700;
  transition: all 0.3s ease;
}

footer .footer__nav ul a:hover {
  color: #000;
}

/*
* ----------------------------------------------------------------------------------------
* 02. Builders Form
* ----------------------------------------------------------------------------------------
*/
.builder-form-page {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  z-index: 1050;
  transition: all 0.5s;
}

.builder-form-page .closeBtn {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 36px;
  color: #999;
  text-decoration: none;
}

.container.form-main-container {
  padding-left: 0px;
}

.builder-form-page {
  background-color: #fff;
}

.builder-form-page .form-header {
  margin-bottom: 60px;
  margin-top: 60px;
}

.builder-form-page .form-header h3 {
  text-align: center;
}

.builder-form-page .form-header h3 span {
  color: red;
}

.builder-form-page .form-header .sub {
  padding-left: 200px;
  color: #777;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  font-style: italic;
}

.builder-form-page .form-header .sub span {
  display: block;
  text-align: center;
  padding-left: 200px;
}

.form-progressbar {
  margin-bottom: 40px;
  list-style: none;
  padding: 0 15px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  background-color: #434a54;
  border-radius: 3px;
}

.form-progressbar li {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 15px 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.form-progressbar li.active {
  background-color: #59cdb6;
  color: #000;
}

.builders-form .note-warning {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
  color: red;
  text-align: center;
  margin-bottom: 50px;
}

.builders-form .form-group > div {
  margin-bottom: 40px;
}

.builders-form fieldset {
  margin-left: 50px;
}

.builders-form label {
  font-size: 14px;
  color: #777;
  font-weight: normal;
}

.builders-form .frm-dropdown {
  color: #555;
  font-weight: 600;
  width: 160px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  padding-left: 20px;
}

.builders-form input[type="text"] {
  width: 70%;
  height: 27px;
}

.builders-form .upload-img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 120px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #e8f4de;
  border: 2px dashed #c5d7b5;
}

.builders-form .upload-img .img-uploader {
  position: absolute;
  display: block;
  height: 100px;
  width: 120px;
  opacity: 0;
  cursor: pointer;
}

.builders-form .upload-img i {
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2976db;
}

.builders-form .upload-img i:hover {
  color: #2976db;
}

.builders-form .upload-img #image-container {
  positon: absolute;
  height: 100px;
  width: 120px;
  background-image: url("");
  background-size: 100% 100%;
  background-position: center;
  margin-left: 0px;
}

.builders-form .nextline-example, .builders-form .inline-example {
  font-size: 12px;
  color: #777;
  font-weight: 600;
}

.builders-form .nextline-example {
  display: block;
  margin-left: 27%;
  text-indent: -22px;
  padding-left: 22px;
}

.builders-form .inline-example {
  display: inline-block;
  padding-left: 22px;
}

.builders-form .projectOrview {
  padding-left: 120px;
}

.builders-form .projectOrview .textarea-label {
  margin-top: 40px;
}

.builders-form .OVform-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.builders-form .OVform-inline label {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.builders-form .OVform-inline input {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  padding-left: 50px;
}

.builders-form .OVform-inline span {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding-left: 15px;
  font-size: 14px;
  color: #777;
  font-weight: normal;
}

.project-photo-slider {
  margin: 40px 0 -10px 130px;
}

#photo-slider {
  margin-bottom: 10px;
}

.project-photo-with-tag {
  width: 200px;
  height: auto;
  margin: 5px;
}

.project-photo-with-tag .project-photo-uploader {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 3px;
}

.project-photo-with-tag .project-photo-uploader i, .project-photo-with-tag .project-photo-uploader span {
  display: block;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.project-photo-with-tag .project-photo-uploader i {
  font-size: 36px;
  color: #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-photo-with-tag .project-photo-uploader span {
  font-size: 14px;
  color: #18bc9c;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-photo-with-tag .project-photo-uploader input {
  height: 200px;
  width: 200px;
  opacity: 0;
  background: none;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}

.project-photo-with-tag input[type="text"].photo-tag {
  width: 200px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.btn-next, .btn-previous, .btn-submit {
  padding: 10px 30px;
  border-radius: 0px;
  color: #3598dc;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  border: 1px solid #3598dc;
  background: none;
  transition: all .5s ease;
}

.btn-next:hover, .btn-next:active, .btn-previous:hover, .btn-previous:active, .btn-submit:hover, .btn-submit:active {
  background-color: #3598dc;
  color: #fff;
}

fieldset.property .property-units {
  padding-left: 50px;
}

fieldset.property .property-units > div {
  margin-bottom: 40px;
}

fieldset.property .small-text {
  width: 80px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}

fieldset.property span {
  font-size: 12px;
  color: #777;
  font-weight: 600;
}

fieldset.property p.d-quotes:before, fieldset.property p.d-quotes:after {
  content: '"';
}

fieldset.property .floor-image {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.features a {
  color: #0060B6;
  text-decoration: none;
}

.features a:hover {
  color: #00A0C6;
  text-decoration: none;
  cursor: pointer;
}

.features i {
  font-size: 24px;
  vertical-align: middle;
}

.features h5 {
  color: #000;
}

.features p.sub {
  margin-left: 50px;
  color: #555;
  font-size: 12px;
}

.features .amenities {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px 20px;
  width: 100%;
  height: 350px;
  overflow: auto;
  margin-left: 50px;
  margin-bottom: 40px;
}

.features .amenities .img-checkbox {
  position: relative;
  display: inline-block;
}

.features .amenities input[type=checkbox] {
  display: none;
}

.features .amenities input[type=checkbox] + label {
  cursor: pointer;
}

.features .amenities input[type=checkbox]:checked + label:before {
  font-family: "FontAwesome";
  font-size: 27px;
  content: '\f00c';
  position: absolute;
  right: 0px;
  color: #18bc9c;
}

.features .extraAmn {
  margin-left: 70px;
  width: 600px;
}

.features .extraAmn input {
  width: 200px;
}

.interior-exterior {
  margin: 40px auto;
}

.interior-exterior p {
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

.interior-exterior input[type=text] {
  width: 100%;
}

.interior-exterior .main-block {
  margin-left: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.interior-exterior .main-block .label {
  -ms-flex: 1 1 20%;
      flex: 1 1 20%;
}

.interior-exterior .main-block .label input {
  text-align: center;
  margin: 5px 0;
}

.interior-exterior .main-block .input-box {
  -ms-flex: 1 1 70%;
      flex: 1 1 70%;
}

.interior-exterior .main-block .input-box input {
  margin: 5px 0;
}

.interior-exterior .main-block .plus-button {
  -ms-flex: 1 1 10%;
      flex: 1 1 10%;
  padding: 10px;
  padding-top: 38px;
}

.interior-exterior .addMoreIE {
  display: block;
  text-align: center;
  margin-top: 20px;
  vertical-align: middle;
}

.interior-exterior .addMoreIE i {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 10px;
}

.approved-banks {
  margin-bottom: 40px;
}

.approved-banks h5 {
  color: #333;
  font-size: 15px;
  font-weight: 600;
}

.approved-banks p {
  margin-left: 50px;
  font-size: 14px;
  color: #323232;
}

.approved-banks .banks {
  margin-left: 50px;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px 20px 10px 100px;
  width: 100%;
  height: 350px;
  overflow-y: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.approved-banks .banks .bank-checkbox {
  -ms-flex: 1 1 30%;
      flex: 1 1 30%;
  position: relative;
  display: inline-block;
}

.approved-banks .banks input[type=checkbox] {
  display: none;
}

.approved-banks .banks input[type=checkbox] + label {
  padding-left: 30px;
  cursor: pointer;
}

.approved-banks .banks input[type=checkbox]:checked + label:before {
  font-family: "FontAwesome";
  font-size: 18px;
  content: '\f00c';
  position: absolute;
  left: 0px;
  color: #18bc9c;
}

.location > div {
  margin-bottom: 40px;
}

.location .detailLocation {
  margin-left: 60px;
}

.location .advantages {
  margin-left: 60px;
}

.location .main-block {
  margin-left: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 88%;
  margin-bottom: 10px;
}

.location .main-block .label {
  -ms-flex: 1 1 25%;
      flex: 1 1 25%;
}

.location .main-block .label input {
  text-align: center;
  margin: 5px 0;
  width: 100%;
}

.location .main-block .input-box {
  -ms-flex: 1 1 75%;
      flex: 1 1 75%;
}

.location .main-block .input-box input {
  margin: 5px 0;
  width: 100%;
}

.location .site-map-img {
  margin-left: 60px;
}

.location .site-map-img .site-img {
  display: -ms-flexbox;
  display: flex;
}

.location .site-map-img .site-img .nextline-example {
  display: block;
  margin-left: 27%;
  text-indent: -25px;
  padding-left: 0px;
  color: #000;
}

.location .map-location label {
  font-size: 15px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.location .map-location iframe {
  border: 1px solid #333 !important;
  margin-bottom: 10px;
}

.location .map-location .btn-saveLocation {
  margin-right: 150px;
}

.location .projectVideo span.sub {
  margin-left: 60px;
  font-size: 12px;
  color: #777;
  font-weight: 600;
}

.location .projectVideo .youtubeUrl {
  width: 72%;
  margin-top: 10px;
  margin-left: 60px;
  display: -ms-flexbox;
  display: flex;
}

.location .projectVideo .youtubeUrl label {
  -ms-flex: 1 1 20%;
      flex: 1 1 20%;
  color: #333;
}

.location .aboutBuilder > div, .location .aboutBuilder > label, .location .aboutBuilder > textarea {
  margin-left: 60px;
  margin-bottom: 10px;
}

.location .aboutBuilder > .form-inline {
  display: -ms-flexbox;
  display: flex;
}

.location .aboutBuilder > .form-inline label {
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
}

.location .aboutBuilder > .form-inline input {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.location .aboutBuilder > label {
  margin-top: 25px;
}

.location .thankYou h3 {
  text-align: center;
}

.location .thankYou p {
  text-align: center;
  text-indent: -200px;
  padding-left: 200px;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  color: #999;
}

.location .thankYou p span.red {
  color: red;
}

.location .thankYou p span.black {
  color: black;
}

.location .addMoreIE {
  margin-left: 150px;
}

form.builders-form fieldset {
  display: none;
}

.form-navigation p {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  word-spacing: -1px;
}

/*
* ----------------------------------------------------------------------------------------
* 03. filter localities page
* ----------------------------------------------------------------------------------------
*/
.apply-to-body {
  overflow: hidden;
}

.tag-filters .main-filter .tag.span-disable {
  pointer-events: none;
  color: #d0c9c9;
  cursor: not-allowed;
  border: 1px solid #fdc8c8;
}

.filter-locality-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #fff;
  overflow-x: hidden;
  z-index: 1050;
  transition: all 0.5s;
}

.filter-locality-overlay .locality-selection-wrapper {
  position: relative;
}

.filter-locality-overlay .filter-header {
  background-color: #fff;
  z-index: 1051;
}

.filter-locality-overlay .closeBtn {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 30px;
  color: #999;
  text-decoration: none;
}

.filter-locality-overlay .search-content-wrapper {
  margin: 50px 100px;
}

.filter-locality-overlay .search-city-selection {
  margin: 20px;
}

.filter-locality-overlay .search-city-selection span.search-cs-header {
  display: inline-block;
}

.filter-locality-overlay .search-city-selection span.search-dropdown {
  color: #777;
  border: 1px solid #ccc;
  margin-top: 8px;
  display: inline-block;
}

.filter-locality-overlay .search-city-selection span.search-dropdown a {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 12px;
  color: #333;
}

.filter-locality-overlay .search-city-selection span.search-dropdown a:hover, .filter-locality-overlay .search-city-selection span.search-dropdown a:active {
  text-decoration: none;
}

.filter-locality-overlay .searchbar-container {
  position: relative;
  width: 100%;
  margin-right: 10px;
  background-color: transparent;
  cursor: text;
  display: inline-block;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 8px;
}

.filter-locality-overlay .tagger-input-container {
  height: 44px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.filter-locality-overlay .searchbar-container .tag-container {
  width: 90%;
  display: inline-block;
}

.filter-locality-overlay .tag-container {
  padding: 3px;
  line-height: 40px;
}

.filter-locality-overlay .searchbar-container {
  position: relative;
  width: 100%;
  margin-right: 10px;
  background-color: transparent;
  cursor: text;
  display: inline-block;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 8px;
}

.filter-locality-overlay .searchbar-container .main-input {
  max-width: 760px;
  position: absolute;
  left: 0;
  height: 44px;
  font-size: 38px;
  line-height: 38px;
  font-weight: 500;
  margin: 0;
}

.filter-locality-overlay .tag-container .main-input {
  margin: 2px 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: 0;
}

.filter-locality-overlay .searchbar-container .tag {
  position: relative;
}

.filter-locality-overlay .tag-container .tag {
  font-size: 14px;
  margin: 2px;
  padding: 0 10px;
  color: #fff;
  border-radius: 30px;
  height: 100%;
  background-color: #31506d;
}

.filter-locality-overlay .tag-container .tag .tag-close {
  cursor: pointer;
}

.filter-locality-overlay .tag-container .inline {
  display: inline-block;
  vertical-align: top;
}

.filter-locality-overlay div.tag-container.filter-locality
.tag-container {
  padding: 3px;
  line-height: 40px;
}

.filter-locality-overlay .reset-preferences {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  margin: 5px 12px;
  position: absolute;
  right: 0;
  bottom: 12px;
  text-transform: uppercase;
}

.filter-locality-overlay .reset-preferences i {
  font-size: 18px;
  padding-right: 20px;
}

.filter-locality-overlay .search-initiator-btn {
  vertical-align: top;
  transition: .5s all;
  height: 50px;
  width: 210px;
  font-size: 14px;
  border: none;
  margin-top: 5px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 38px;
}

.filter-locality-overlay .search-initiator-btn.disabled {
  pointer-events: none;
  color: #bbb;
}

.filter-locality-overlay .search-initiator-btn.active {
  background-color: #2dbe45;
  color: #fff;
}

.filter-locality-overlay .btn.disabled, .filter-locality-overlay .btn[disabled] {
  background-color: #E6E6E6;
  border: 1px solid #CDCDCD;
  color: #999;
  pointer-events: none;
}

.filter-locality-overlay .btn.secondary {
  border: 1px solid #1DD38F;
  background: #1DD38F;
  color: #fff;
}

.sub-search {
  width: 350px;
  margin-top: 50px;
}

.sub-search h4 {
  text-decoration: uppercase;
}

.sub-search .sub-search-input {
  width: 300px;
  height: 44px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
  border: none;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #aaa;
}

.sub-search .sub-search-input:focus {
  outline: none;
}

.sub-search .autosuggest-list-container {
  display: none;
  overflow: hidden;
}

.sub-search .autosuggest-list-container, .sub-search .autosuggest-list-container ul {
  margin: 0;
  padding: 0;
  list-style: none inside none;
}

.sub-search .autosuggest-list-container .category:not(:first-child) {
  margin: 8px 0;
}

.sub-search .autosuggest-list-container .category-header {
  font-size: 12px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  padding: 7px 0;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

.sub-search .autosuggest-list-container .item {
  line-height: 20px;
  position: relative;
  color: #7f7f7f;
  font-size: 14px;
}

.sub-search .autosuggest-list-container .item > span {
  display: inline-block;
  width: 100%;
  padding: 7px 10px;
  cursor: pointer;
}

.sub-search .autosuggest-list-container .item:hover, .sub-search .autosuggest-list-container .item.active {
  background-color: #5e23dc;
  color: #fff;
}

.sub-search .autosuggest-list-container .item.active .auto-suggest-string {
  color: #fff;
}

.sub-search .autosuggest-list-container .item .auto-suggest-string {
  color: #000;
  font-weight: 700;
}

.sub-search .autosuggest-list-container .no-results-container {
  text-align: center;
  margin-top: 50px;
}

.sub-search .autosuggest-list-container .no-results-container .no-results-header {
  font-size: 18px;
  font-weight: 500;
}

.sub-search .autosuggest-list-container .no-results-container .no-results-content {
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px;
}

.sub-search .autosuggest-list-container .no-results-container .city-change-text {
  color: #5e23dc;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.sub-search .autosuggest-list-container .no-results-container .city-name {
  font-weight: 600;
  font-size: 16px;
  margin: 0 5px;
}

.sub-search i {
  color: #aaa;
  cursor: pointer;
}

.tag-filters {
  padding-bottom: 40px;
  margin: 40px auto;
}

.tag-filters .main-filter .tag {
  cursor: pointer;
  font-size: 14px;
  background-color: #fff;
  color: #7f7f7f;
  border: 1px solid #E6E6E6;
  line-height: 30px;
  padding: 3px 18px;
  border-radius: 20px;
}

.tag-filters .main-filter .tag .tag-label {
  font-size: 12px;
}

.tag-filters .main-filter .tag.header {
  margin: 5px 30px 5px 5px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  display: inline-block;
  vertical-align: top;
}

.tag-filters .main-filter .tag.header.active {
  background-color: #f85956;
}

.tag-filters .main-filter .tag.active {
  border: none;
  background-color: #31506d;
  color: #fff;
}

.tag-filters .main-filter .inline {
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}

.tag-filters .property-type-filter, .tag-filters .bhk-filter {
  margin-bottom: 50px;
}

.tag-filters .tag-team {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.tag-filters .h3-label {
  font-size: 16px;
  text-transform: uppercase;
  margin: 30px 0 15px;
  margin-left: 0;
  font-weight: 700;
}

.tag-filters {
  padding-bottom: 40px;
  margin: 40px auto;
}

.tag-filters .main-filter .range-slider-container {
  margin: 50px auto;
  padding-bottom: 50px;
}

.tag-filters .main-filter .breakpoints {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
}

.tag-filters .main-filter .breakpoints li {
  font-size: 12px;
  color: #333;
  font-weight: 700;
  position: absolute;
  transform: translateX(-50%);
  margin-top: 20px;
}

.tag-filters .main-filter .breakpoints li:nth-child(1) {
  left: 0%;
}

.tag-filters .main-filter .breakpoints li:nth-child(2) {
  left: 10%;
}

.tag-filters .main-filter .breakpoints li:nth-child(3) {
  left: 25%;
}

.tag-filters .main-filter .breakpoints li:nth-child(4) {
  left: 46%;
}

.tag-filters .main-filter .breakpoints li:nth-child(5) {
  left: 60%;
}

.tag-filters .main-filter .breakpoints li:nth-child(6) {
  left: 70%;
}

.tag-filters .main-filter .breakpoints li:nth-child(7) {
  left: 90%;
}

.tag-filters .main-filter .breakpoints li:nth-child(8) {
  left: 100%;
  font-size: 10px !important;
}

.possession-filter {
  margin-top: 40px;
}

.possession-filter img {
  margin-top: 10px;
}

#buyShop-container, #rentShop-container {
  display: none;
}

/*
* ----------------------------------------------------------------------------------------
* 03. Search result page
* ----------------------------------------------------------------------------------------
*/
.result-container .sortby {
  background-color: #fff;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 12px;
  padding: 2px 2px 2px 5px;
}

.result-container .sortby label {
  font-weight: normal;
}

.result-container .sortby select {
  background-color: #f7f7f7;
  width: 200px;
  font-size: 13px;
}

.result-container .line-through {
  color: #898989;
  text-decoration: line-through;
  margin-left: 5px;
}

.result-container .result img.home-big-img {
  margin: 20px 0;
  padding-left: 15px;
}

.result-container .result .single-result {
  background-color: #fff;
  padding: 10px;
}

.result-container .result .single-result figure {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.result-container .result .single-result figcaption {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  display: block;
  bottom: 5px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  color: #fff;
  background-color: #f45961;
  transition: background-color 0.3s ease;
  line-height: 1.33em;
}

.result-container .result .single-result .fav-btn {
  position: absolute;
  top: 15px;
  right: 30px;
}

.result-container .result .single-result .fav-btn i {
  color: #f45961;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #f45961;
  background-color: #fff;
  transition: all 0.3s ease;
}

.result-container .result .single-result .fav-btn i:hover {
  color: #fff;
  background-color: #f45961;
}

.result-container .result .single-result .title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 8px;
  font-weight: 700;
  color: #363636;
}

.result-container .result .single-result .sub-title {
  font-size: 14px;
  margin-top: 8px;
  color: #898788;
}

.result-container .result .single-result .price-group {
  margin-top: 14px;
  margin-bottom: 14px;
}

.result-container .result .single-result .price-group .new-price, .result-container .result .single-result .price-group .old-price {
  display: block;
  font-weight: 600;
}

.result-container .result .single-result .price-group .old-price {
  font-size: 13px;
}

.result-container .result .single-result .emistart {
  margin-bottom: 5px;
  color: #9d35c8;
}

.result-container .result .single-result .emistart .price {
  font-size: 14px;
}

.result-container .result .single-result .bhk {
  font-size: 14px;
}

.result-container .result .single-result .bhk i {
  font-size: 18px;
  font-weight: 700;
}

.result-container .result .single-result .status-contact {
  margin-top: 20px;
  margin-bottom: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 12px;
}

.result-container .result .single-result .status-contact .possession {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.result-container .result .single-result .status-contact .avg-rate {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.result-container .result .single-result .status-contact .contact {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.result-container .result .single-result .status-contact .contact-button {
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 14px;
  color: #9d35c8;
  border: 1px solid #9d35c8;
  transition: all 0.3s ease;
}

.result-container .result .single-result .status-contact .contact-button:hover {
  color: #fff;
  background-color: #9d35c8;
}

.result-container .result .single-result .status-contact .value {
  font-weight: 600;
  display: block;
}

.result-container .result .single-result .status-contact .label {
  font-size: 12px;
  color: #999;
  font-weight: 500;
  display: block;
}

.result-container .result .single-result .offer-status.well {
  padding: 0;
  margin-bottom: 10px;
}

.result-container .result .single-result .offer-status .offer-icon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  font-size: 36px;
  margin-top: 5px;
}

.result-container .result .single-result .offer-status .offer-icon i {
  margin-left: 10px;
  color: #4c4a4b;
}

.result-container .result .single-result .offer-status .offer-icon.active i {
  color: #f45961;
}

.result-container .result .single-result .offer-status .offer-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 36px;
}

#result-builder {
  background-color: #fff;
  padding: 10px 5px;
  text-align: center;
  margin-left: 15px;
  margin-top: 0px;
  max-width: 100%;
}

#result-builder .form-header h5 {
  font-size: 12px;
  color: #888;
}

#result-builder .form-header .builder-btn {
  border-radius: 1px;
  border: 1px solid #de4947;
  color: #f69452;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 5px;
  transition: all .3s ease;
}

#result-builder .form-header .builder-btn:hover {
  border: 1px solid #de4947;
  color: #fff;
  background-color: #de4947;
}

/*
* ----------------------------------------------------------------------------------------
* 04. Responsive css
* ----------------------------------------------------------------------------------------
*/
@media (max-width: 767px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    padding: 0;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1266px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .header-container, .detail-container, .footer-container {
    padding-right: 0px;
  }
  .banner-container {
    padding-right: 0;
  }
  .result-container {
    width: 1330px;
    padding-right: 18px;
    padding-left: 18px;
  }
}
